body {
    font-family:"open sans", helvetica, arial, sans-serif;
}

h1 {
    text-transform: uppercase;
}

/* HEADER */

header nav {
    display: flex;
    flex-direction: row;
    background-color: black;  
}

header nav h1 a {
    text-decoration: none;
    text-align: center;
}

/* a:visited{
    color: #449fa1;
} */

ul.menu,
ul.redes-sociais {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

ul.menu li.menu-item {
    list-style-type: none;
    padding: 15px;
}

ul.redes-sociais li.redes-sociais-item {
    list-style-type: none;
    padding: 10px;
}

ul.redes-sociais li.redes-sociais-item:last-child {
    padding-right: 20px
}


ul.menu li.menu-item a,
ul.redes-sociais li.redes-sociais-item a {
    text-decoration: none;
    color: black;
}

ul.menu li.menu-item a.active {
    color: #d7c2f0;
}

ul.redes-sociais {
    position: absolute;
    right: 0px;
} 

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
}

/* nav .arthur a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

nav a{
    text-align: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: inherit;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
}

nav ul li{
    display: flex;
    align-items: center;
    padding-left: 25px;
}

nav ul li a{
    padding: 10px 0px;
    display: inline-block;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}


/* navegacao */

#logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 70px 0px;  
}

#logo .logo {
    display: flex;
    flex-direction: column;
    /* padding: 20px 740px 170px; */
    height: 10%;
    background-color: black;
    align-items: center;
}



header h1{
    text-align: center;
    align-items: center;
    text-decoration: none;
}

header h1 p {
    align-items: center;
    text-align: center;
}

.botao{
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    background-color: black;
    border-radius: 10px;
}   

/* sobre */

#sobre {
    text-align: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

#sobre h3 {
    align-items: center;
    text-align: center;
}

#sobre h3 p{
    align-items: center;
    text-align: center;
    flex-direction: row;
}

#sobre p{
    padding-bottom: 25px;
}

/* serviços */

#servicos{
    align-items: center;
    padding: 20px;
}

#servicos h2{
    align-items: center;
    text-align: center;
    flex-direction: row;
}

#servicos h2 p{
    align-items: center;
    text-align: center;
    flex-direction: row;
}

#servicos .text1, .text2, .text3, .text4 {
    text-align: center;
    align-items: center;
}


#servicoz {
    text-align: center;
}

#servicoz a, p{
    color: black;
}



/* contato */

#contato .paragrafo {
    align-items: center;
    text-align: center;
}

#contatinho {
    align-items: center;
    flex-direction: column;
    width: 100%;
}
 
#contatinho .instagram {
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 15px;
}

#contatinho .whatsapp {
    flex-direction: row;
    align-items: center;
    text-align: center;     
    padding: 15px;
} 

#contatinho .instagram a, p{
    color: black;
}

#contatinho .whatsapp a, p{
    /* text-decoration: none; */
    color: black;
}

#contatinho .bemzen {
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 15px 424px;
}

#contatinho .telefone{
    text-align: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
}

#contatinho .telefone img{
    align-items: center;
    width: 150px;
}

#contatinho .telefone p a{
    padding-bottom: 20px;
    color: black;
}

#contatinho a p{
    color: black;
}

#botao{
    padding: 40px;
    text-align: center;
}

#botao .botao {
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    background-color: black;
    border-radius: 10px;
}

/* footer */

footer {
    text-align: center;
    align-items: center;
    background-color:black;
    color:white;
    width: 100%;
    flex-direction: row;
    padding: 15px 0px;
}

#footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

footer p{
    color: white;
    background-color: black;
}

#agmenor {
    position: absolute;
    align-items: center;
    text-align: center;
}

#agmenor .agmenor img {
    align-items: center;
    width: 5%;
} 



@media only screen and (max-width: 800px) {

    /* nav */

    header nav{
        display: flex;
        flex-direction: column;
    }

    nav ul li{
        padding-left: 0px;
    }

    ul.menu, ul.redes-sociais{
        display: flex;
        flex-direction: column;
        /* padding-inline-start: 0px; */

    }
    ul.redes-sociais {
        position: relative;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
    }
    ul.menu{
        align-items: center;
    }
    ul.menu li a{
        font-size: 20px;
    }

    nav{
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
    }

    /* servicos */

    .bemzen p{
        padding: 0px 30px;
    }

    /* contato */
    .telefone p a{
        color: black;
    }

    #agmenor .agmenor img{
        width: 20%;
    }
}
















